<html>
<head>
<style>
div.ex1{
  background-color: rgb(255, 255, 255);
  width: 925px;
  height: 350px;
  overflow: scroll;
  margin: 0 auto;
  border : 5px solid rgb(255, 0, 242);
  border-radius : 7px;
}
aside{
                   float: left;
                   width: 15%;
                   border : 3px solid rgb(232, 248, 12);
                   border-radius : 5px;
                   background-color: rgb(232, 248, 12);
            }
h3{
                 color: rgb(255, 59, 34);
    }            
</style>
</head>
<body>
<a href ="['product']">
    <h1>QuickChat</h1>
</a>
<div class="container-fluid">
    <div class="row"> 
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="username">USERNAME</label>
                <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter username">
                <small id="userHelp" class="form-text text-muted">Type your username.</small> 
            </div>
        </div>
        <div class="col-sm-3">
            <label for="chatting">CHATTING MENU</label>
            <select name="text" id="chatInput" class="form-control" [(ngModel)]="chat">
                <option value="OnetoOne">One to One</option>
                <option value="GroupChat">Group Chat</option>
            </select>
            <small id="userHelp" class="form-text text-muted">Type your chat option.</small>
        </div>   

        <div class="col sm-2">
            <div style="margin-top:19px;" class="pull-right"> 
                <button type="button" class="btn btn-primary" (click)="join()">JOIN</button>
                <button type="button" class="btn btn-primary" (click)="leave()">LEAVE</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
            <aside>
                    <div class="col-md-14">            
                    <div class="well">
                        <h3>ONLINE USERS</h3>
                        <ul class="list-group" id="users">{{user}}</ul>
                    </div>
                    </div>
            </aside>
        <div class="ex1">
            <div *ngFor="let item of messageArray">
      <span style = "color:rgb(0, 17, 167);"><strong>{{item.user}} : </strong> {{item.message}}</span>   
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="messageText" placeholder="Type your message">  
            <small id="userHelp" class="form-text text-muted">Type your message.</small>          
        </div>
        <div class="col-sm-2">
                <button type="button" class="btn btn-success pull-right" (click)="sendMessage()">SEND</button>
        </div>  
    </div>
</div>
</body>
</html>

